/* Ashen palette for Prism */
code[class*="language-"],
pre[class*="language-"] {
  color: #b4b4b4;
  background: none;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  tab-size: 4;
}

pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #121212;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata { color: #737373; }
.token.punctuation { color: #d5d5d5; }
.token.keyword,
.token.atrule,
.token.macro { color: #b14242; }
.token.string,
.token.char,
.token.attr-value,
.token.regex { color: #df6464; }
.token.number,
.token.boolean,
.token.builtin { color: #4a8b8b; }
.token.constant,
.token.class-name,
.token.namespace { color: #c4693d; }
.token.operator,
.token.entity,
.token.url { color: #d87c4a; }
.token.function,
.token.function-name { color: #e5e5e5; }
.token.variable,
.token.parameter,
.token.property { color: #b4b4b4; }
.token.tag,
.token.selector { color: #949494; }
.token.attr-name,
.token.inserted { color: #a7a7a7; }
.token.deleted,
.token.important { color: #c53030; }
.token.bold,
.token.important { font-weight: 700; }
.token.italic { font-style: italic; }

div.code-toolbar { position: relative; }
div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 1;
  top: 0.3em;
  right: 0.2em;
  opacity: 0;
  transition: opacity 0.2s;
}
div.code-toolbar:hover > .toolbar,
div.code-toolbar:focus-within > .toolbar { opacity: 1; }
div.code-toolbar > .toolbar > .toolbar-item { display: inline-block; }
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  border: 0;
  color: #949494;
  font: inherit;
}
